<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
	<script type="text/javascript" src='/javascripts/jquery-1.6.4.min.js'></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Prerequisites: jQuery and jQuery UI Stylesheet -->
	<link rel="stylesheet" type="text/css" href='/javascripts/jquery-ui.css' />
	<script type="text/javascript" src="/javascripts/jquery-ui.js"></script>
	<!-- Plugin files below -->
	<link rel="stylesheet" type="text/css" href="/javascripts/TimePicker/jquery.ptTimeSelect.css" />

	<script>
		function login(){
			$.post("/users/login", {
				user_id : $('#user_id').val(),
				password : $('#password').val(),
			}).success(function(data) {
		       window.location = data;
		    });
		}
	</script>

</head>
<body>




</body>
</html>
